# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [3]:
pizza=["Fagita","BBQ","Afghani"]
for x in pizza:
    print(x)

Fagita
BBQ
Afghani

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [4]:
pizza=["Fagita","BBQ","Afghani"]
for x in pizza:
    print("I Like "+x)

I Like Fagita
I Like BBQ
I Like Afghani

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [6]:
for x in range(1,21):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [7]:
for x in range(1,21,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [8]:
list_of_multiples=[3,6,9,12,15,18,21,24,27,30]
for x in list_of_multiples:
    print(x)

3
6
9
12
15
18
21
24
27
30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [9]:
list_of_cubes=[value ** 3 for value in range(1,11)]
for cube in list_of_cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [15]:
foods=["Biryani","Qorma","Chawal","Daal","Gosht","Kari","Bhindi","Aalo","Kachori"]
print("The First Three items in a list are:")
foods[0:3]

The First Three items in a list are:

['Biryani', 'Qorma', 'Chawal']

In [16]:
print("Three items from the middle of the list are:")
foods[3:6]

Three items from the middle of the list are:

['Daal', 'Gosht', 'Kari']

In [20]:
print("The last three items in the list are:")
foods[6:]

The last three items in the list are:

['Bhindi', 'Aalo', 'Kachori']

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [31]:
foods=["Biryani","Qorma","Chawal","Daal","Gosht","Kari","Bhindi","Aalo","Kachori"]
friends_food=foods.copy()
print(friends_food)

['Biryani', 'Qorma', 'Chawal', 'Daal', 'Gosht', 'Kari', 'Bhindi', 'Aalo', 'Kachori']

In [32]:
foods.append("Nihari")
print(foods)

['Biryani', 'Qorma', 'Chawal', 'Daal', 'Gosht', 'Kari', 'Bhindi', 'Aalo', 'Kachori', 'Nihari']

In [33]:
friends_food.append("Tikka")
print(friends_food)

['Biryani', 'Qorma', 'Chawal', 'Daal', 'Gosht', 'Kari', 'Bhindi', 'Aalo', 'Kachori', 'Tikka']

In [34]:
print("My favorite foods are:")
for x in foods:
    print(x)

My favorite foods are:
Biryani
Qorma
Chawal
Daal
Gosht
Kari
Bhindi
Aalo
Kachori
Nihari

In [35]:
print("My friend's favorite foods are:")
for x in friends_foods:
    print(x)

My friend's favorite foods are:
Biryani
Qorma
Chawal
Daal
Gosht
Kari
Bhindi
Aalo
Kachori
Tarkari
Tarkari

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [42]:
Alien_color=input("Enter Color:")
if Alien_color=="red":
    print(" the player just earned 5 points for shooting the alien.")
elif Alien_color!="green":
    print(" the player just earned 10 points for shooting the alien.")
else:
    print("Alien is no more")

Enter Color:green
Alien is no more

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [46]:
age=15
if age<2:
    print("Person is a baby")
elif age>=2 and age<4:
    print("Person is a toddler")
elif age>=4 and age<13:
    print("Person is a kid")
elif age>=13 and age<20:
    print("Person is a teenage")
elif age>=20 and age<65:
    print("Person is a baby")
else:
    print("Person is an elder")

Person is a teenage

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [63]:
current_users=["arfkhan11","msyeda702","rehan702","ali12","arsalan09"]
new_users=["arfkhan11","msyeda702","mty21","zaptek67","uks22"]
for x in new_users:
    if x in current_users:
        print("'"+ x + "' username is already used!\nYou have to enter a new username!\n")
        
    else:
        print(x+" username is available.")

'arfkhan11' username is already used!
You have to enter a new username!

'msyeda702' username is already used!
You have to enter a new username!

mty21 username is available.
zaptek67 username is available.
uks22 username is available.

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [79]:
person = {"first_name":"Arfeen","last_name":"Khan","age":20,"city":"Karachi"}
print(person["first_name"])
print(person["last_name"])
print(str(person["age"]))
print(person["city"])

Arfeen
Khan
20
Karachi

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [84]:
person = {"first_name":"Arfeen","last_name":"Khan","age":"20","city":"Karachi"}
for key,value in person.items():
    print(key+" : "+value)

first_name : Arfeen
last_name : Khan
age : 20
city : Karachi

In [86]:
person["School"]="Nasra"
person["Centre"]="Maths World"

In [87]:
person

{'first_name': 'Arfeen',
 'last_name': 'Khan',
 'age': '20',
 'city': 'Karachi',
 'School': 'Nasra',
 'Centre': 'Maths World'}

In [88]:
for key,value in person.items():
    print(key+" : "+value)

first_name : Arfeen
last_name : Khan
age : 20
city : Karachi
School : Nasra
Centre : Maths World

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [89]:
dictionary={"Indus":"Pakistan","Kabul":"Afghanistan","Nile":"Egypt"}
dictionary

{'Indus': 'Pakistan', 'Kabul': 'Afghanistan', 'Nile': 'Egypt'}

In [94]:
for key,value in dictionary.items():
    print("The "+key+" runs through "+value+".")

The Indus runs through Pakistan.
The Kabul runs through Afghanistan.
The Nile runs through Egypt.

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [99]:
pets=[{"kind": "Mammal","owner's_name": "Ali Haider"},{"kind": "Mammal","owner's_name": "Arfeen Khan"},{"kind": "bird","owner's_name": "Kulsoom"},{"kind": "Mammal","owner_name": "Syed Zohaib Ahsan"},{"kind": "Mammal","owner_name": "Hamza Shahid"},]
for x in pets:
    print(x)

{'kind': 'Mammal', "owner's_name": 'Ali Haider'}
{'kind': 'Mammal', "owner's_name": 'Arfeen Khan'}
{'kind': 'bird', "owner's_name": 'Kulsoom'}
{'kind': 'Mammal', 'owner_name': 'Syed Zohaib Ahsan'}
{'kind': 'Mammal', 'owner_name': 'Hamza Shahid'}