In [7]:
a=[22,33,44,11,77,88,99,111,222,3333,444,555,66]
a[1]

33

In [3]:
a[1:3]

[33, 44]

In [4]:
a[1:4]

[33, 44, 11]

In [5]:
a[:5]

[22, 33, 44, 11, 77]

In [9]:
a[2:9:3]

[44, 88, 222]

In [11]:
t=("arfeen","khan","Ahmed")  #packing
t

('arfeen', 'khan', 'Ahmed')

In [12]:
type(t)

tuple

In [13]:
a,b,c=t  #unpacking

In [14]:
a

'arfeen'

In [15]:
a="humza"

In [16]:
a

'humza'

In [17]:
t[1]

'khan'

In [18]:
print(t)

('arfeen', 'khan', 'Ahmed')

In [24]:
listt=["dad","alfa"]
alist=listt+listt
alist

['dad', 'alfa', 'dad', 'alfa']

In [20]:
x,y=listt

In [21]:
x

'dad'

In [22]:
y

'alfa'

In [27]:
s=t+t
s

('arfeen', 'khan', 'Ahmed', 'arfeen', 'khan', 'Ahmed')

q=t+s[1:4]

In [28]:
q=t+s[1:4]

In [29]:
q

('arfeen', 'khan', 'Ahmed', 'khan', 'Ahmed', 'arfeen')

In [30]:
students=["ali","shahzad","hamza"]
print(students)

['ali', 'shahzad', 'hamza']

In [31]:
for student in students:     #listwithplurals
    print(student)

ali
shahzad
hamza

In [33]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [34]:
for a in range(10):
    print(a,end=" ")

0 1 2 3 4 5 6 7 8 9

In [35]:
for a in range(5,10):
    print(a,end=" ")

5 6 7 8 9

In [36]:
for a in range(0,10,2):  #3rdparameteriscallstepvalue
    print(a,end=" ")

0 2 4 6 8

In [38]:
for a in range(1,10,2):
    print(a,end=" ")

1 3 5 7 9

In [39]:
for a in range(10,0,-1):
    print(a,end=" ")

10 9 8 7 6 5 4 3 2 1

In [9]:
number=int(input("Enter Number To Print Table:"))

for a in range(1,11):
    print(number,"X",a,"=",number*a)

Enter Number To Print Table:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [12]:
number=int(input("Enter Number To Print Table:"))

for a in range(1,11):
    if a==6:
        break
    print(number,"X",a,"=",number*a)

Enter Number To Print Table:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10

In [13]:
number=int(input("Enter Number To Print Table:"))

for a in range(1,11):
    if a==5:
        break   #terminatestheloopfromthispoint
    print(number,"X",a,"=",number*a)

Enter Number To Print Table:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8

In [14]:
number=int(input("Enter Number To Print Table:"))

for a in range(1,11):
    if a==5:
        continue   #skipsthispointonly
    print(number,"X",a,"=",number*a)

Enter Number To Print Table:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [1]:
number=int(input("Enter Number To Print Table:"))
r=int(input("Enter The Table Range:"))
for a in range(1,r+1):
    
    print(number,"X",a,"=",number*a)

Enter Number To Print Table:2
Enter The Table Range:4
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8

In [2]:
first_names=["BlueRay","Upchuck","Lojack","Gizmo","Do-Rag"]
last_names=["zzz","Burp","Dogbone","Droop"]
full_names=[]
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name+" "+a_last_name)
full_names

['BlueRay zzz',
 'BlueRay Burp',
 'BlueRay Dogbone',
 'BlueRay Droop',
 'Upchuck zzz',
 'Upchuck Burp',
 'Upchuck Dogbone',
 'Upchuck Droop',
 'Lojack zzz',
 'Lojack Burp',
 'Lojack Dogbone',
 'Lojack Droop',
 'Gizmo zzz',
 'Gizmo Burp',
 'Gizmo Dogbone',
 'Gizmo Droop',
 'Do-Rag zzz',
 'Do-Rag Burp',
 'Do-Rag Dogbone',
 'Do-Rag Droop']

In [3]:
first_names=["a","b",'c',"d"]
last_names=["1","2","3","4"]
full_names=[]
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name+" "+a_last_name)
full_names

['a 1',
 'a 2',
 'a 3',
 'a 4',
 'b 1',
 'b 2',
 'b 3',
 'b 4',
 'c 1',
 'c 2',
 'c 3',
 'c 4',
 'd 1',
 'd 2',
 'd 3',
 'd 4']

In [4]:
for table_numbers in range(2,9):
    for num in range(1,11):
        print(f"{table_numbers}*{num}={table_numbers*num}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

In [6]:
table_numbers=int(input("enter table range"))
for table_numbers in range(1,11):
    for num in range(1,11):
        print(f"{table_numbers}*{num}={table_numbers*num}")

enter table range2
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100