In [3]:
st1="asad"
st2="saad"
st3="fahad"
students=["asad","saad","fahad","imran","kashif","arsalan","ali","ahmed"]
len(students)  #lentghOfList

8

In [6]:
students[4]    #getvaluefromindex

'kashif'

In [7]:
students[10]

IndexError: list index out of range

In [8]:
alist=["string",123.5,67,False]

In [9]:
alist[0]="Pakistan"   #replaceorupdateoroverridevalue
alist

['Pakistan', 123.5, 67, False]

In [10]:
del alist[3] #deletevaluebyindexing
alist

['Pakistan', 123.5, 67]

In [11]:
alist.append("hello world")    #addvalue
alist

['Pakistan', 123.5, 67, 'hello world']

In [12]:
alist.insert(2,"python")
alist

['Pakistan', 123.5, 'python', 67, 'hello world']

In [73]:
list2=[11,22,33,44,55,66,77,88,99,"arfeen"]
list2.remove("arfeen")     #removebyvalue
list2

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [15]:
list2.clear()
list2

[]

In [23]:
list3=[11,22,33,44,55,66,77,88,99,11,11,11]

In [21]:
list3.count(11)

4

In [27]:
list3.sort()
list3

[11, 11, 11, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [26]:
list3.sort(reverse=True)
list3

[99, 88, 77, 66, 55, 44, 33, 22, 11, 11, 11, 11]

In [29]:
list5=list3.copy()
list5

[11, 11, 11, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [36]:
a=["apples","oranges","bananas","nothing"]
b=a   #passbyreference
b

['apples', 'oranges', 'bananas', 'nothing']

In [37]:
c=a[:] #passbyvalue
c

['apples', 'oranges', 'bananas', 'nothing']

In [38]:
del a[0]
print(a)
c

['oranges', 'bananas', 'nothing']

['apples', 'oranges', 'bananas', 'nothing']

In [39]:
a=["oranges","bananas","nothing"]

In [40]:
b=a
b

['oranges', 'bananas', 'nothing']

In [62]:
a.append("apples")
a

['pakistan', 'apples']

In [42]:
b

['oranges', 'bananas', 'nothing', 'apples']

In [43]:
c=b[:]

In [44]:
print(b)
print(c)

['oranges', 'bananas', 'nothing', 'apples']
['oranges', 'bananas', 'nothing', 'apples']

In [45]:
b.append("melon")

In [47]:
print(b)
print(c)

['oranges', 'bananas', 'nothing', 'apples', 'melon']
['oranges', 'bananas', 'nothing', 'apples']

In [48]:
a

['oranges', 'bananas', 'nothing', 'apples', 'melon']

In [49]:
listinlist=[111,222,['oranges', 'bananas', 'nothing', 'apples', 'melon']]
listinlist

[111, 222, ['oranges', 'bananas', 'nothing', 'apples', 'melon']]

In [50]:
listinlist[2]

['oranges', 'bananas', 'nothing', 'apples', 'melon']

In [51]:
listinlist[2][3]

'apples'

In [52]:
del listinlist[2][3]

In [53]:
listinlist

[111, 222, ['oranges', 'bananas', 'nothing', 'melon']]

In [55]:
a=["pakistan"]
a[0][0]

'p'

In [57]:
listslicing=[1,2,3,4,5,6,7,8,9]
listslicing[5]

6

In [58]:
listslicing[2:8]

[3, 4, 5, 6, 7, 8]

In [61]:
listslicing[5:7]

[6, 7]

In [81]:
list=[1,2,["oranges", "bananas", "nothing", "melon"]]

In [82]:
list[2]

['oranges', 'bananas', 'nothing', 'melon']

In [83]:
list[2].remove("oranges")

In [84]:
list[2]

['bananas', 'nothing', 'melon']

In [85]:
list[2].insert(0,"hello world")

In [86]:
list

[1, 2, ['hello world', 'bananas', 'nothing', 'melon']]

In [87]:
rlist=[1,2,3,4,5,6,7,8,9]
#reverse[-9,-8,-7,-6,-5,-4,-3,-2,-1]

In [88]:
rlist[-1]

9

In [89]:
rlist[-6]

4

In [90]:
rlist[-5:-1]

[5, 6, 7, 8]

In [91]:
rlist[-5:]

[5, 6, 7, 8, 9]

In [95]:
rlist=[1,2,3,4,5,6,7,8,9]
poppedList=[]
poppedelement=rlist.pop()
poppedList.append(poppedelement)

In [96]:
rlist

[1, 2, 3, 4, 5, 6, 7, 8]

In [98]:
print(rlist)
print(poppedelement)

[1, 2, 3, 4, 5, 6, 7, 8]
9

In [99]:
poppedList

[9]