In [14]:
shark_letters=[]
for letter in 'shark':
    if letter=='a':
        continue
    shark_letters.append(letter)
print(shark_letters)

['s', 'h', 'r', 'k']

# LIST COMPREHENSION

In [ ]:
list_variable=[x for x in iterable]

In [6]:
var=[letter for letter in 'shark']

In [7]:
print(var)

['s', 'h', 'a', 'r', 'k']

In [16]:
[letter for letter in 'shark' if letter  != 'a']

['s', 'h', 'r', 'k']

In [12]:
name=[letter for letter in 'Arfeen']
print(name)

['A', 'r', 'f', 'e', 'e', 'n']

In [21]:
num=[]
for x in range(1,11):
    num.append(x)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
[num for num in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
num = 12
for x in range(1, 11):
    print(num,'x',i,'=',num*x)

12 x 10 = 12
12 x 10 = 24
12 x 10 = 36
12 x 10 = 48
12 x 10 = 60
12 x 10 = 72
12 x 10 = 84
12 x 10 = 96
12 x 10 = 108
12 x 10 = 120

In [26]:
[num*12 for num in range(1,11)]

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [28]:
[num//12 for num in range(1,11)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [29]:
[(x,y) for x in range(1,11) for y in range(0,12,2)]

[(1, 0),
 (1, 2),
 (1, 4),
 (1, 6),
 (1, 8),
 (1, 10),
 (2, 0),
 (2, 2),
 (2, 4),
 (2, 6),
 (2, 8),
 (2, 10),
 (3, 0),
 (3, 2),
 (3, 4),
 (3, 6),
 (3, 8),
 (3, 10),
 (4, 0),
 (4, 2),
 (4, 4),
 (4, 6),
 (4, 8),
 (4, 10),
 (5, 0),
 (5, 2),
 (5, 4),
 (5, 6),
 (5, 8),
 (5, 10),
 (6, 0),
 (6, 2),
 (6, 4),
 (6, 6),
 (6, 8),
 (6, 10),
 (7, 0),
 (7, 2),
 (7, 4),
 (7, 6),
 (7, 8),
 (7, 10),
 (8, 0),
 (8, 2),
 (8, 4),
 (8, 6),
 (8, 8),
 (8, 10),
 (9, 0),
 (9, 2),
 (9, 4),
 (9, 6),
 (9, 8),
 (9, 10),
 (10, 0),
 (10, 2),
 (10, 4),
 (10, 6),
 (10, 8),
 (10, 10)]

 # RANDOM NUMBERS

In [30]:
from random import *

In [31]:
print(random())  #range between 0 to 1

0.05097226843882896

In [34]:
randint(1,10)

2

In [35]:
uniform(1,10)

6.0030434152230185

In [39]:
items=[1,2,3,4,5,6,7,8,9,0]
shuffle(items)
print(items)

[9, 3, 4, 6, 7, 0, 5, 1, 8, 2]

In [40]:
lst=[x for x in range(1,11)]
shuffle(lst)
print(lst)

[8, 2, 5, 4, 1, 6, 9, 7, 3, 10]

In [41]:
print(sample(lst,1))

[3]

In [42]:
name=["Arfeen","Khan","Ali"]

In [43]:
sample(name,1)

['Ali']

# DOCSTRING

In [44]:
def square(a):
    """Returns argument a is squared."""
    return a**2

In [45]:
print(square.__doc__)

Returns argument a is squared.

In [52]:
def addition(arg1, arg2):
    """Summary
    
    Parameters:
    take two args
    
    Returns:
    added values
    
    """
    return arg1 + arg2

In [53]:
print(addition.__doc__)

Summary

    Parameters:
    take two args

    Returns:
    added values

In [56]:
help(addition)

Help on function addition in module __main__:

addition(arg1, arg2)
    Summary

    Parameters:
    take two args

    Returns:
    added values

In [57]:
addition?

In [54]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [55]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

# MATH MODULE

In [59]:
import math

In [61]:
math.ceil(24.1)

25

In [62]:
a=math.ceil(24.1)

In [63]:
type(a)

int

In [64]:
math.floor(24.1)

24

In [65]:
math.fabs(-24.1)

24.1

In [66]:
math.factorial(4)

24

In [68]:
math.fsum([.1,.1])

0.2

In [69]:
math.gcd(4,2)

2

# DATETIME MODULE

In [71]:
import datetime

In [72]:
print(datetime.date.today())

2019-07-20

In [73]:
current_datetime=datetime.date(2019,7,20)

In [74]:
current_datetime

datetime.date(2019, 7, 20)

In [75]:
print(current_datetime.day)

20

In [79]:
print(current_datetime.month)

7

In [76]:
print(current_datetime.strftime("%d %b, %Y"))

20 Jul, 2019

In [77]:
current_datetime.strftime("%A")

'Saturday'

In [78]:
current_datetime.strftime("%a")

'Sat'

In [86]:
birthday=input("Enter your Birthday! (dd/mm/yyyy)")
birthday=datetime.datetime.strptime(birthday, "%d/%m/%Y").date()
print("Your birth month is",birthday.strftime("%B"))

Enter your Birthday! (dd/mm/yyyy)16/2/1998
Your birth month is February

In [91]:
birthday=input("Enter your Birthday! (dd/mm/yyyy)")
birthday=datetime.datetime.strptime(birthday,"%d/%m/%Y" ).date()

Enter your Birthday! (dd/mm/yyyy)20/07/2019

In [92]:
birthday.strftime("%b")

'Jul'

In [97]:
#next birthday calculation

current_datetime=datetime.date.today()
next_birthday=datetime.datetime.strptime("08/15/2019","%m/%d/%Y").date()
difference=next_birthday-current_datetime
print(difference.days)

26

In [98]:
#time delta
print(current_datetime + datetime.timedelta(days=15))
print(current_datetime + datetime.timedelta(hours=15))

2019-08-04
2019-07-20

In [102]:
current_time=datetime.datetime.now()

In [105]:
print(current_time)

2019-07-20 14:32:26.736275

In [106]:
current_time.second

26

# MODULE MAKING